<div class="signup">
    <h1> Create an Account </h1>

    <form class="form" action='/users/signup' method="POST">
        Username: <input type=text name="username"><br>
        <br>
        Password: <input type=password name="password"><br>
        <br>
        <input type=submit value="Sign Up"><br>
    <form>
</div>


<style>
    .signup {
        text-align: center;
        margin-top: 10%;
        margin-bottom: 20%;
        margin-left: 35%;
        padding-bottom: 5%;
        border: 2px solid #99dcf7; 
        border-radius: 10px;
        padding: 50px;
        width: 20%;
        height: 20%;
    }

    .signup input{
        border: 2px solid #99dcf7; 
        border-radius: 10px;
    }

</style>




