<div class="order_form">

    <h1> Place an Order </h1>


    <form action='/orders' method="POST">
        Order Num: <br>
        <br>
        Order Date: <input name="order_date" value="<%= Time.now.strftime("%m/%d/%Y") %>"><br>
        <br>
        Item: <input type=text name="food_item"><br>
        <br>
        Item_price: <input type=number name="item_price"><br>
        <br>
        Quantity: 
            <select name="quantity">
                <option/>
                <% (1..10).each do |num| %>                    
                    <option value=<%= num %>>
                        <%= num %>
                    </option>                
                <% end %>
            </select>            
            <br>
            <br>
        Total: <br>
        <br>
        <input type=submit>
    <form>

</div>

